# Dépendances
node_modules/

# Compilation (TypeScript/Webpack)
out/
dist/
*.tsbuildinfo

# Fichiers de tests
.vscode-test/

# Fichiers générés par VS Code
.history/
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# Environnement (au cas où tu en utilises plus tard)
.env